<!DOCTYPE html>
<html>
<head>
    <title>VIT | Time Table Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header">
    <img src="{{ url_for('static', filename='images/vit_logo.png') }}">
    <h1>Vishwakarma Institute of Technology</h1>
    <h3>CSE – Data Science</h3>
    <p class="subtitle">Time Table Management System</p>
</div>

<div class="container login-container">

    <h2 class="login-title">Login</h2>
    <p class="login-text">
        Select your role and enter credentials
    </p>

    <form method="post" action="/login">

        <div class="radio-group">
            <label><input type="radio" name="role" value="student" required> Student</label>
            <label><input type="radio" name="role" value="faculty"> Faculty</label>
            <label><input type="radio" name="role" value="admin"> Admin</label>
        </div>

        <input type="text" name="username" placeholder="ID / Email" required>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Login</button>
    </form>

    <div class="links">
        <a href="/forgot">Forgot Password</a> |
        <a href="/help">Help</a>
    </div>

</div>

<div class="footer">
    © 2024–25 Vishwakarma Institute of Technology, Pune
</div>

</body>
</html>
